.App {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15em;

}

.App,
button,
input,
table {
    font-family: "Gotham SSm A", "Gotham SSm B", Verdana, Helvetica, Arial, sans-serif;
    @media (max-width: 810px) {
        font-size: .635em;
    }
    @media (min-width: 810.2px) {
        font-size: 1em;
    }
}